.sidebar {
  height: 415px;
  width: 100px;
  position: fixed;
  top: 0;
  left: 0;
  padding-top: 150px;
  background-color: lightblue;
}

.sidebar div {
  padding: 8px;
  font-size: 24px;
  display: block;
}
.icon {
  height: 40px;
  width: 40px;
  padding: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
}
body {
  margin-left: 110px;
}
#gif {
  margin-left: auto;
  margin-right: auto;
  display: block;
}
#a1 {
  margin-left: 10px;
}
